body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #111;
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.signupSection {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, 0.5);
}

.info {
    width: 70%;
    background: rgba(20, 20, 20, 0.8);
    padding: 10%;
    border-right: 5px solid rgba(30, 30, 30, 0.8);
    overflow-x: hidden;
    text-align: left;
}

#list h2 {
    border: 1px solid #0ab4b4;
    background: rgba(20, 20, 20, 0.6);
    margin-bottom: 40px;
    text-align: center;
}

#isConnectedTransport {
    display: none;
}
#isConnectDistance {
    display: none;
}

#isNotConnected {
    display: none;
    padding: 3%;
    overflow: hidden;
}

#list hr{
    border: 1px solid #0ab4b4;
    border-top: none;
    border-left: none;
    border-right: none;
}

#list li {
    list-style: none;
}


.info .icon {
    font-size: 8em;
    padding: 20px 0;
    color: #0ab4b4;
}

.signupForm {
    width: 70%;
    padding:  10%;
    background: rgba(20, 40, 40, 0.8);
    transition: 0.2s;
}

.signupForm h2 {
    font-weight: 300;
}

.inputFields {
    margin: 15px 0;
    font-size: 16px;
    padding: 10px;
    width: 250px;
    border: 1px solid #0ab4b4;
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, 0.2);
    color: white;
    outline: none;
}

.noBullet {
    list-style-type: none;
    padding: 0;
}

.style-bouton {
    border: 1px solid #0ab4b4;
    background: rgba(20, 20, 20, 0.6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 50px;
    cursor: pointer;
    transition: 0.4s;
}

.style-bouton:hover {
    background: rgba(20, 20, 20, 0.8);
    padding: 10px 80px;
}

#sectionList{
    height: 95%;
    overflow-x: scroll;
}